{% load static %}
<!DOCTYPE>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple Nikkei</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
</head>
<body>
    <header><h1>SimpleNikkei</h1></header>

    <main class="col-sm-6">
        {% block content %}{% endblock %}
    </main>
</body>
</html>